.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 60px;
}

.h2About {
  text-align: center;
  margin-top: 100px;
  width: 600px;
  font-size: 40px;
  margin-left: 10px;
}

.pAbout {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 25px;
}
.green-point {
  color: rgb(64, 247, 64);
  margin-right: 3px;
}
.blue-point {
  color: rgb(7, 140, 218);
  margin-right: 3px;
}

.quantity {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
  margin-bottom: 30px;
  font-size: 25px;
}
.article2 {
  display: flex;
  justify-content: center;
}

.pcScreen {
  display: flex;
  position: relative;
  top: -40px;
  content: icon;
  width: 600px;
  height: auto;
}

.h2article {
  margin-top: 100px;
  height: 30px;
  text-align: center;
  font-size: 30px;
  margin-left: 75px;
}
.p2article {
  display: flex;
  justify-content: center;
  font-size: 25px;
  width: 500px;
  margin-left: 50px;
}

.article3 {
  margin-top: 450px;
  display: flex;
  justify-content: center;
}
.comunity {
  display: flex;
  position: relative;
  top: -100px;
  content: icon;
  width: 600px;
  height: auto;
}

.h2article3 {
  height: 30px;
  text-align: center;
  font-size: 30px;
  margin-left: 75px;
}
.p3article {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  width: 500px;
  margin-left: 50px;
}

.article4 {
  margin-top: 400px;
  display: flex;
  justify-content: center;
}
.release {
  display: flex;
  position: relative;
  top: -100px;
  content: icon;
  width: 600px;
  height: auto;
}
.h2article4 {
  height: 30px;
  text-align: center;
  font-size: 30px;
  margin-left: 75px;
}
.p4article {
  display: flex;
  justify-content: center;
  font-size: 25px;
  width: 500px;
  margin-left: 50px;
}
