.game-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 300px;
  height: 450px;
}

.text {
  align-self: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.game-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: none;
}

.entire-card {
  display: flex;
}

.card-title {
  display: flex;
  flex-direction: column;
}

.texth1 {
  text-align: center;
  font-size: 40px;
  padding: 1em;
}

.card-body {
  padding: 3em 1em 0em 1em;
  width: 500px;
}

.buttons {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.delete {
  background-color: rgb(155, 0, 0);
  color: white;
  font-size: 19px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.demo {
  background-color: black;
  animation: pulse 2s infinite;
}

.link {
  text-decoration: none;
  color: white;
}
