.game-details-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  /* width: auto;
  height: 500px; */
  /* align-self: start; */
}

.text {
  align-self: start;
}

.game-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.entire-card {
  display: flex;
}

.card-title {
}

.card-body {
  padding: 3em 1em 0em 1em;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
