.search-bar {
  display: flex;
  align-items: center;
  padding: 0.7em;
  width: 60%;
  align-self: center;
  margin-bottom: 20px;
}

button {
  padding: 0.6em;
}

input {
  padding: 0.5em;
  width: 100%;
}
